[submodule "testing_pi"]
	path = testing_pi
	url = https://github.com/vtcrolab/robogames_pi/tree/main/car_robot_ws
[submodule "car_robot_ws/src/articubot_one"]
	path = car_robot_ws/src/articubot_one
	url = https://github.com/vtcrolab/articubot_one.git
